<h1><%=@articulo.titulo%></h1>

<p><small>Creado el <%=@articulo.created_at.strftime("%d-%m-%Y") %></small></p>

<p><%=@articulo.contenido%></p>

<% if autor_signed_in? %>
	<%= link_to "Editar", edit_articulo_path(@articulo) %> 
	<%= link_to "Eliminar", @articulo, :method => :delete, data: {confirm: "¿Seguro que quieres eliminar el artículo?"} %> 
<% end %>


<p><%= @articulo.comentarios.count %> Comentarios </p>
<%= render @articulo.comentarios %>
<br>
<p>Deja tu comentario.</p>
<%= render 'comentarios/form' %>